@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 *
 * STYLE : New ISBC form
 *
 * @package     repository
 * @author      Frédéric Andreae
 * @copyright   UNIL/ROI
*/

.ibox .iboxcontent {
	padding: 20px 0 0;
}
hr {
	margin-bottom: 20px;
}
.case-form {
	float: left;
	width: 530px;
	margin-left: 30px;
	border-right: 1px dashed #CCC;
	padding-right: 30px;
	margin-bottom: 20px;
	font-family: "OpenSansRegular";
}
.instructions {
	float: right;
	width: 340px;
	padding: 0 20px 0 25px;
}
.instructions p {
	margin: 20px 0;
}

.case-form .row {
	min-height: 30px;
	padding-bottom: 17px;
}
.label-wrapper {
	float: left;
	width: 100px;
	padding: 7px 0;
}
.case-form label {
	width: 90px;
	padding-right: 10px;
	margin-top: 6px;
}
.case-form .row:not(.error) label:not(.required):not(.error) {
	color: #777;
}
.case-form select {
	width: 300px;
}
.required span {
	display: none;
}
.case-form input:not(.ibutton), .case-form .row textarea {
	width: 415px;
}
#impacts textarea {
	width: 526px;
	margin-top: 7px;
}

#classes .label-wrapper {
	height: 50px;
	width: 70px;
	padding: 2px 0;
}
.case-form input {
	width: 530px;
}
.company-line {
	margin-bottom: 15px;
}
.company-head {
	float: left;
	width: 80px;
	height: 600px;
	padding: 17px 0 0 14px;
	font-family: "OpenSansRegular";
	font-size: 13px;
	background-color: #F5F5F5;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #666;
}
.company-head em {
	font-family: "OpenSansSemibold";
}
.company-class {
	background-color: #FAFAFA;
	float: right;
	width: 430px;
	padding: 12px 0 5px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.company-class .row {
	padding-bottom: 8px;
	padding-left: 15px;
	clear: both;
}
.company-class .row input {
	width: 50px;
}
.company-class .row textarea {
	width: 390px;
	margin-top: 5px;
}
#classes .label-wrapper > label, .company-class .row > label {
	font-family: "OpenSansSemibold";
}
.alt-HS-button {
	font-size: 33px;
	color: #666;
	cursor: pointer;
	float: right;
	position: relative;
	right: 13px;
	top: -3px;
	-webkit-text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	-ms-text-shadow: 0 1px 0 white;
	-o-text-shadow: 0 1px 0 white;
	text-shadow: 0 1px 0 white;
}
.alt-HS-button:hover {
	color: #2582A9;
}
.submit-area {
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #ecf6fb;
	border-top: 1px solid #d7edf6;
}
.addcompbutton {
	margin-top: 15px;
}
.ibutton_big {
	margin: 20px 0;
	width: 250px;
}

/* CUSTOM CATEGORIES */
#categoryList .iboxheader {
	text-align: center;
}
.customcat-list {
	margin: 0 0 15px 15px;
	width: 950px;
}
.customcat-list th {
	font-family: "OpenSansSemibold";
	text-align: left;
	padding: 0 5px 10px;
	color: #777;
}
.customcat-list tr:nth-child(even) {
	background-color: #F7F7F7;
}
.customcat-list td {
	padding: 7px 6px;
	font-size: 11px;
	font-family: "Verdana";
	color: #333;
}
.customcat-list td:not(:last-child) {
	border-right: 2px solid white;
}
.customcat-list th:last-child, .customcat-list tr td:last-child {
	text-align: right;
}