@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 * 
 * STYLE : Landing page Look
 * Describes the look for Indiosis Homepage.
 * 
 * @package     home
 * @author      Frédéric Andreae
 * @copyright   UNIL/ROI
*/

#home_txt {
    margin-top: 20px;
    height: 122px;
}
#features_description {
    font-family: "OpenSansLight";
    font-size: 20px;
    line-height: 22px;
    color : #444;
}
#homeillustration {
    height: 240px;
}
#homeillustration div.feature_illu {
    float: left;
    width: 33%;
    text-align: center;
    cursor: pointer;
}
div.feature_subtitle {
    font-family: "OpenSansLight";
    font-size: 19px;
    color : #444;
}
#feature1 img {
    margin-top: 15px;
    margin-bottom: 17px;
}
#feature2 img {
    margin-bottom: 15px;
}
#feature3 img {
    margin-top: 12px;
    margin-bottom: 21px;
}
#register_area {
    margin-top: 40px;
}
#register_area h2 {
    font-family: "OpenSansBold";
}
#register_area h2 span {
    color: #666;
    font-family: "OpenSansRegular";
}

/* Altering main layout for special home illustration */
#wrapper {
    background-image: url("../images/home_gradient.gif");
    background-repeat: repeat-x;
    background-position-y: 110px;
}
#header_wrapper {
    border-bottom: solid 1px #DBDBDB;
}