@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 *
 * STYLE : Main Look
 * Describes general design.
 * (applies to every page)
 * 
 * @package     layout
 * @author      Frédéric Andreae, Arjun Shankar
 * @copyright   UNIL/ROI
*/

/* - STANDARD ELEMENTS - */
*:focus {  
    outline: none;  
}
::selection, ::-moz-selection, ::-webkit-selection {
    background: #2582A9;
    color: white;
}
a {
    color:#2582A9;
    text-decoration:none;
}
#infobar a {
    color: inherit;
    padding: 2px;
}
a:hover {
    text-decoration: underline;
}

a img{
    border: 0 none;
}
h1 {
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #2582A9;
    text-shadow: 0px 1px 1px white;
    margin: 0 0 18px 0;
}
h2 {
    font-family: "OpenSansRegular", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #2582A9;
    margin-top: 0;
}
h3 {
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #666;
    margin: 0 0 10px;
}
p {
    font-family: "Bitstream", Georgia, serif;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}
em {
    color: #2582A9;
    font-style: normal;
}
hr {
    border-top: solid 1px white;
    border-bottom: solid 1px #DFDFDF;
    border-left: none;
    border-right: none;
    margin: 10px 0;
}
input {
    font-family: "OpenSansRegular", Arial, sans-serif;
    font-size: 11px;
    padding: 0;
    height: 23px;
    text-indent: 4px;
    border: solid 1px #AAA;
}
input:focus {
    border: solid 1px #2582A9;
    color: red;
}

/* - OVERALL LAYOUT - */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: white;
    font-size: 12px;
    font-family: "Bitstream", Georgia, serif;
    background-image: url("../images/grained_back.gif");
    background-repeat: repeat;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px; /* <-- always same as footer_wrapper height! */
}
#header, #infobar, #main_content, #footer {
    margin: 0 auto;
    width: 980px; /* <-- Site's General Width */
}
#header_wrapper {
    background-color: #CCC;
    background-image: url("../images/header_gradient.gif");
    background-repeat: repeat-x;
    border-bottom: solid 2px white;
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 13px;
}
#header {
    height: 77px;
}
#headerlogo {
    margin-top: 17px;
}
#infobar_wrapper {
    height: 30px;
    background-color: #4D4D4D;
    border-top: solid 1px #DADADA;
    border-bottom: solid 1px #444;
}
#topmenu {
    float: right;
    width: 536px;
    height: 77px;
    border-left: solid 1px #AAA;
}
#topmenu div.topmenubutton, #searchfield {
    float: left;
}
#topmenu div.topmenubutton {
    height: 78px;
    border-left: solid 1px #FBFBFB;
    border-right: solid 1px #AAA;
    text-align: center; 
}
#topmenu div.topmenubutton:active {
    background: #EEE;
}
#topmenu div.selected {
    border-left: solid 1px #BBB;
    font-family: "OpenSansBold";
    -moz-box-shadow:    inset 0 0 10px #888;
    -webkit-box-shadow: inset 0 0 10px #888;
    box-shadow:         inset 0 0 10px #888;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444');
}
#topmenu div.topmenubutton a {
    color: #777;
    text-shadow: 0px 1px 1px white;
    filter: dropshadow(color=#FFF, offx=0, offy=1);
    line-height: 15px;
    display: block;
    height: 52px;
    padding: 26px 20px 0 20px;
}
#topmenu div.monoline a {
    height: 46px;
    padding: 32px 20px 0 20px;
}
#topmenu div.topmenubutton a:hover {
    text-decoration: none;
    color: #2A92BE;
}
#topmenu div.selected a {
    background-image: url("../images/topmenu_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 73px;
}
#searchfield {
    height: 50px;
    border-left: solid 1px #FBFBFB;
    padding: 27px 0 0 19px;
}
#searchfield input {
    width: 180px;
    color: #AAA;
    border: solid 1px #BABABA;
    border-radius: 15px;
    background-image: url("../images/searchmag.gif");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    text-indent: 27px;
}
#infobar {
    margin-top: 8px;
    padding-right: 2px;
    color: white;
    text-align: right;
}
#infobar img {
    margin-right: 6px;
}
#footer_push {
    height: 110px;
}
#footer_wrapper {
    height: 108px; /* <-- always same as wrapper bottom margin ! */
    background-color: #EEE;
    border-top: solid 2px white;
}
#footer_inwrapper {
    border-top: solid 1px #DDD;
    font-family: Verdana;
    font-size: 11px;
    color: #888;
    text-align: center;
    line-height: 15px;
}
#footer {
    margin-top: 12px;
    margin-bottom: 28px;
    color: #666;
}

/* - SITE-WIDE ELEMENTS - */
.gradient {
    filter: none; /* for IE9 support */
}
/* Indiosis buttons */
.ibutton {
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-family: "OpenSansSemibold";
    font-size: 11px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
}
.ibutton:hover {
    text-decoration: none;
}
.ibutton:active {
    position:relative;
    top:1px;
}
/* indiosis Blue button skin */
.iblue {
    color: #EDF7FB;
    border: solid 1px #0076a3;
    box-shadow:inset 0px 1px 1px 0px #EDF7FB;
    -moz-box-shadow:inset 0px 1px 1px 0px #EDF7FB;
    -webkit-box-shadow:inset 0px 1px 1px 0px #EDF7FB;
    background: #2A92BE;
    background: -webkit-gradient(linear, left top, left bottom, from(#30A1D1), to(#207294));
    background: -moz-linear-gradient(top,  #30A1D1,  #207294);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#30A1D1', endColorstr='#207294');
}
.iblue:hover {
    background: #2582A9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.iblue:active {
    color: #D8EDF7;
    background: -webkit-gradient(linear, left top, left bottom, from(#207294), to(#30A1D1));
    background: -moz-linear-gradient(top,  #207294,  #30A1D1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#207294', endColorstr='#30A1D1');
}
/* indiosis Gray button skin */
.igray {
    color: #EEE;
    border: solid 1px #666;
    box-shadow:inset 0px 1px 1px 0px #EEE;
    -moz-box-shadow:inset 0px 1px 1px 0px #EEE;
    -webkit-box-shadow:inset 0px 1px 1px 0px #EEE;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#666));
    background: -moz-linear-gradient(top,  #AAA,  #666);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#666666');
}
.igray:hover {
    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#555));
    background: -moz-linear-gradient(top,  #999,  #555);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#555555');
}
.igray:active {
    color: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#AAA));
    background: -moz-linear-gradient(top,  #666,  #AAA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#AAAAAA');
}

/* Login Box */
div.login_box {
    width: 300px;
    height: 200px;
}
div#fancybox-content {
    background-color: #EEE;
}