@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 * 
 * STYLE : Profile page look
 * 
 * @package     profile
 * @author      Frédéric Andreae
 * @copyright   UNIL/ROI
*/

/* Altering main layout for special home illustration [ */
h3 {
    font-family: "OpenSansSemibold";
    font-size: 17px;
    color: #555;
}
/* ] */
h3 span {
    font-family: "OpenSansRegular";
    font-size: 16px;
    color: #777;
}

div#org_profile {
    height: 200px;
}
div#org_info {
    float: left;
    width: 590px;
    margin-top: 10px;
}
div#org_logo {
    float: left;
    background-color: #FAFAFA;
    border: solid 1px #CCC;
    width: 150px;
    height: 86px;
    margin-right: 25px;
}
div#org_logo img {
    margin: 8px 11px 0;
}


div#org_flows {
    float: right;
    width: 350px;
}
div#org_flows .iboxheader {
    font-family: "OpenSansRegular";
    text-align: center;
    font-size: 15px;
}
div#org_flows .iboxheader span:first-child {
    font-family: "OpenSansSemibold";
}
div#org_flows .iboxheader span:last-child {
    color: #2582A9;
}