@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 *
 * STYLE : Landing page Look
 * Describes the look for Indiosis Homepage.
 *
 * @package     home
 * @author      Frédéric Andreae
 * @copyright   UNIL/ROI
*/

/* Altering main layout for special home illustration [ */
.wrapper {
    background-image: url("../../images/home_bk_gradient.gif");
    background-repeat: repeat-x;
    background-position-y: 110px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.infobar_wrapper {
    border-bottom: solid 1px #3A3A3A;
}
.header_wrapper {
    border-bottom: solid 2px #2582A9;
}
h1 {
    color: white;
    text-shadow: 0 1px 1px black;
}
.main_content {
    padding: 0;
}
/* ] */
#home_txt {
    margin: 20px 0 34px 0;
    height: 94px;
    overflow: hidden;
}
#home_txt p {
    font-family: "OpenSansLight";
    font-size: 20px;
    line-height: 22px;
    color : white;
}
#txt_feature1, #txt_feature2, #txt_feature3 {
    display: none;
}
#homeillustration {
    height: 240px;
}
#homeillustration div.feature_illu {
    float: left;
    width: 33%;
    text-align: center;
    cursor: pointer;
}
.feature_subtitle {
    font-family: "OpenSansLight";
    font-size: 19px;
    color : #444;
}
#feature1 img {
    margin-top: 20px;
    margin-bottom: 14px;
}
#feature2 img {
    margin-bottom: 11px;
}
#feature3 img {
    margin-top: 21px;
    margin-bottom: 14px;
}

/* -- REGISTER AREA -- */
#register_area {
    margin-top: 20px;
    height: 225px;
    text-align: center;
}
#register_area h2 {
    font-family: "OpenSansBold";
    font-size: 30px;
    color: #2582A9;
    margin: 0;
    border-bottom: none;
}
#register_area h2 span {
    color: #666;
    font-family: "OpenSansRegular";
}
p#signup_subtitle {
    font-family: "OpenSansRegular";
    color: #666;
    font-size: 15px;
    margin-top: 6px;
}
#signup_buttons {
    width: 607px;
    height: 70px;
    margin: 25px auto;
    color: #777;
}
#signup_left, #signup_middle, #signup_right {
    float: left;
}
#linkedin_signup, #account_signup {
    display: block;
    width: 230px;
    height: 37px;
    padding: 10px 20px 12px 20px;
    border-radius: 10px;
    font-family: "OpenSansRegular";
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 7px;
}
#linkedin_signup:hover, #account_signup:hover {
    color: white;
}
#linkedin_signup {
    text-align: left;
    color: #EBF8FC;
    border: solid 1px #1A5C78;
    background: #2A92BE;
    background-image: url("../../images/linkedin_signup.png");
    background-repeat: no-repeat;
    background-position: -24px -8px;
    -moz-box-shadow:inset 0 1px 0 0 #76C6E2;
    -webkit-box-shadow:inset 0 1px 0 0 #76C6E2;
    box-shadow:inset 0 1px 0 0 #76C6E2;
}
#linkedin_signup span, #account_signup span {
    font-family: "OpenSansSemibold";
}
#linkedin_signup:hover {
    opacity: 0.92;
    -moz-box-shadow:inset 0 1px 0 0 #9ED9E8;
    -webkit-box-shadow:inset 0 1px 0 0 #9ED9E8;
    box-shadow:inset 0 1px 0 0 #9ED9E8;
}
#account_signup {
    color: #F3F3F3;
    text-shadow: 0 1px 0 #555;
    border: solid 1px #888;
    background: #bbbbbb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNyUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODg4ODg4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #bbbbbb 17%, #888888 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,#bbbbbb), color-stop(100%,#888888));
    background: -webkit-linear-gradient(top,  #bbbbbb 17%,#888888 100%);
    background: -o-linear-gradient(top,  #bbbbbb 17%,#888888 100%);
    background: -ms-linear-gradient(top,  #bbbbbb 17%,#888888 100%);
    background: linear-gradient(top,  #bbbbbb 17%,#888888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#888888',GradientType=0 );
}
#account_signup:hover {
    -moz-box-shadow:inset 0 1px 0 0 white;
    -webkit-box-shadow:inset 0 1px 0 0 white;
    box-shadow:inset 0 1px 0 0 white;
    background: #c4c4c4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiNjNGM0YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOGU4ZThlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #c4c4c4 18%, #8e8e8e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#c4c4c4), color-stop(100%,#8e8e8e));
    background: -webkit-linear-gradient(top,  #c4c4c4 18%,#8e8e8e 100%);
    background: -o-linear-gradient(top,  #c4c4c4 18%,#8e8e8e 100%);
    background: -ms-linear-gradient(top,  #c4c4c4 18%,#8e8e8e 100%);
    background: linear-gradient(top,  #c4c4c4 18%,#8e8e8e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#8e8e8e',GradientType=0 );
}
#signup_middle {
    width: 61px;
    padding-top: 22px;
    font-size: 15px;
    color: #888;
}
p#signup_note {
    clear: both;
    color: #999;
}

/* -- NEWS AREA -- */
.news_area_wrapper {
    height: 350px;
}
.news_area {
    float: left;
    width: 560px;
    padding-top: 15px;
}
.news_area .twtr-hd, .news_area .twtr-ft, .news_area .twtr-reply {
    display: none;
}
.news_area .twtr-tweet {
    border-bottom: dashed 1px #DDD;
}
.twtr-tweet-wrap {
    padding: 11px 0 13px;
}
.news_area .twtr-tweet-text em a {
    font-family: "OpenSansLight";
    font-size: 11px;
}
.social-buttons {
    background-image: url("../../images/grained_back.gif");
    background-repeat: repeat;
    padding: 18px 10px 0 20px;
}

.info_area {
    float: right;
    width: 380px;
    text-align: right;
    padding-top: 20px;
}
.what_is {
    width: 310px;
    padding: 18px 23px;
    border: solid 10px #E6E6E6;
    border-radius: 20px;
    background-color: white;
    clear: both;
    text-align: justify;
}
.what_is h2 {
    font-family: "OpenSansLightItalic";
    color: #4D4D4D;
    font-size: 24px;
    border-bottom: none;
}
.what_is h2 span {
    font-family: "OpenSansExtrabold";
    color: #777;
}