/* Entypo Symbols fonts */

@font-face {
    font-family: 'Entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}