@charset "utf-8";
/*
 * - -- - - - - - - - - - - - *
 * INDIOSIS                   *
 * Synergize your resources.  *
 * - -- - - - - - - - - - - - *
 *
 * STYLE : Main Look
 * Describes general design.
 * (applies to every page)
 *
 * @package     layout
 * @author      Frédéric Andreae, Arjun Shankar
 * @copyright   UNIL/ROI
*/

/* - STANDARD ELEMENTS - */
*:focus {
    outline: none;
}
::selection, ::-moz-selection, ::-webkit-selection {
    background: #2582A9;
    color: white;
}
a {
    color: #2582A9;
    text-decoration: none;
}
.infobar a {
    color: white;
    padding: 2px;
    font-family: "OpenSansSemibold";
}
a:hover {
    text-decoration: underline;
}

a img{
    border: 0 none;
}
h1 {
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #2582A9;
    text-shadow: 0 1px 1px white;
    margin: 0 0 18px 0;
}
h2 {
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #2582A9;
    margin: 0 0 13px;
    padding-bottom: 7px;
    border-bottom: solid 1px #BBB;
}
h3 {
    font-family: "Bitstream", Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    color: #666;
    margin: 0 0 10px;
}
h4 {
    font-family: "OpenSansLight", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #999;
    margin: 0 0 10px;
    text-shadow: 0 2px 2px white;
}
p {
    font-family: "Bitstream", Georgia, serif;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}
em {
    color: #2582A9;
    font-style: normal;
}
.circled {
    border: 1px solid #BBB;
    border-radius: 10px;
    padding : 1px 5px;
}
.bold {
    font-family: "Bitstream-Bold";
}
.bold-sans {
    font-family: "OpenSansSemibold";
}
ul,ol {
    list-style-type: circle;
    color: #2582A9;
    padding-left: 30px;
    font-size: 13px;
    margin: 0;
}
ol {
    list-style-type: decimal;
}
ol li, ul li {
    color: #333;
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 7px;
}
.websymbol {
    font-family: "WebSymbols";
}
.websymbol-entypo {
    font-family: "Entypo";
}
.websymbol-modernpicto {
    font-family: "ModernPictograms";
}
hr {
    border-top: solid 1px white;
    border-bottom: solid 1px #DFDFDF;
    border-left: none;
    border-right: none;
    margin: 10px 0;
}
hr.ongray {
    border-top: solid 1px #CCC;
    border-bottom: solid 1px white;
}
.float_clearer {
    clear: both;
}
.lined_heading {
  border-bottom: solid 1px #DFDFDF;
  margin-bottom: 15px;
}
.lined_heading h1, .lined_heading h2, .lined_heading h3 {
    display:inline-block;
    position:relative;
    top:18px;
    padding-right: 12px;
    background-image: url("../../images/grained_back.gif");
    background-repeat: repeat;
}
input:not(.ibutton):not(.ibutton_big) {
    font-family: "OpenSansRegular", Arial, sans-serif;
    font-size: 11px;
    padding: 5px 3px;
    text-indent: 4px;
    border: solid 1px #AAA;
}
input:not(.ibutton):focus, label.required {
    color: #2582A9;
}
.error {
    color: #c83a2c;
}

/* - OVERALL LAYOUT - */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: white;
    font-size: 12px;
    font-family: "Bitstream", Georgia, serif;
    background-image: url("../../images/grained_back.gif");
    background-repeat: repeat;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -160px; /* <-- always same as footer_wrapper height! */
    -moz-box-shadow: inset 0 130px 100px 0 white;
    -webkit-box-shadow: inset 0 130px 100px 0 white;
    box-shadow: inset 0 130px 100px 0 white;
}
.header, .infobar, .main_content, #footer, .copyright {
    margin: 0 auto;
    width: 980px; /* <-- Site's General Width */
}
.header_wrapper {
    background-color: #CCC;
    background-image: url("../../images/header_gradient.gif");
    background-repeat: repeat-x;
    border-bottom: solid 2px white;
    font-family: "OpenSansSemibold", Arial, sans-serif;
    font-size: 13px;
}
.header {
    height: 77px;
}
#headerlogo {
    margin-top: 17px;
}
#toplogo {
    float: left;
    margin-right: 140px;
}
#topmenu {
    float: right;
    height: 77px;
    border-left: solid 1px #AAA;
}
#topmenu span {
    font-size: 30px;
    line-height: 26px;
}
#topmenu div.topmenubutton {
    float: left;
}
#topmenu div.topmenubutton {
    height: 78px;
    border-left: solid 1px #FBFBFB;
    border-right: solid 1px #AAA;
    text-align: center;
}
#topmenu div.topmenubutton:active, #topmenu div.current {
    background: #EEE;
}
#topmenu div.selected {
    border-left: solid 1px #BBB;
    font-family: "OpenSansBold";
    -moz-box-shadow:    inset 0 0 10px #888;
    -webkit-box-shadow: inset 0 0 10px #888;
    box-shadow:         inset 0 0 10px #888;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444');
}
#topmenu div.topmenubutton a {
    color: #777;
    text-shadow: 0px 1px 1px white;
    filter: dropshadow(color=#FFF, offx=0, offy=1);
    line-height: 15px;
    display: block;
    height: 52px;
    padding: 19px 20px 0 20px;
}
#topmenu div.dbline a {
    height: 46px;
    padding: 25px 20px 0 20px;
}
#topmenu div.topmenubutton a:hover, #topmenu div.current a {
    text-decoration: none;
    color: #2A92BE;
}
#topmenu div.selected a {
    background-image: url("../../images/topmenu_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 73px;
}
#searchfield {
    float: left;
    height: 50px;
    border-left: solid 1px #FBFBFB;
    padding: 27px 0 0;
}
#searchfield input {
    width: 180px;
    border: solid 1px #BABABA;
    border-radius: 15px;
    background-image: url("../../images/searchmag.gif");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    text-indent: 27px;
    margin-left: 20px;
}
#searchfield input.empty {
    color: #AAA;
}
.infobar_wrapper {
    height: 30px;
    background-color: #4D4D4D;
    border-top: solid 1px #DADADA;
    border-bottom: solid 1px #444;
    overflow: hidden;
}
.infobar {
    padding-right: 2px;
    text-align: right;
    font-size: 11px;
    margin-top: 9px;
    font-family: "OpenSansRegular";
    color: #FAFAFA;
}
.infobar a:hover {
    text-decoration: none;
    color: #2582A9;
}
#login_link {
    font-size: 12px;
}
.breadcrumbs {
    font-family: "OpenSansRegular";
    float: left;
    text-align: left;
}
.infobar img {
    margin-right: 6px;
}

.actionMenu {
    font-family: "OpenSansRegular";
    margin-top: -32px;
    margin-bottom: 25px;
    padding: 7px 10px 10px;
    text-align: right;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #72c4e6;
    border-right: 1px solid #72c4e6;
    border-bottom: 1px solid #72c4e6;
}
.actionMenu span {
    font-family: "OpenSansSemibold";
    color: #4D4D4D;
}

.main_content {
    padding-top: 30px;
}

#footer_push {
    height: 190px; /* <-- always bigger than footer  */
}
#footer_wrapper {
    height: 158px; /* <-- always same as wrapper bottom margin ! */
    background-color: #EFEFEF;
    border-top: solid 2px white;
}
#footer_inwrapper {
    border-top: solid 1px #D7D7D7;
    height: 157px;
    font-size: 11px;
    color: #AAA;
    line-height: 15px;
    -moz-box-shadow: inset 0 2px 8px 0 #E1E1E1;
    -webkit-box-shadow: inset 0 2px 8px 0 #E1E1E1;
    box-shadow: inset 0 2px 8px 0 #E1E1E1;
}
#footer {
    height: 70px;
    margin-top: 16px;
    border-bottom: solid 1px #CFCFCF;
    color: #999;
}
#footer_links, .copyright div:first-child, #footer_supportedby a {
    float: left;
}
#footer_supportedby, #support_note, .copyright div:last-child {
    float: right;
}
#footer_supportedby a, #support_note {
    margin-left: 15px;
}
#footer_supportedby a {
    opacity: 0.8;
    margin-top: 1px;
}
#footer_supportedby a:first-child {
    opacity: 0.6;
}
#footer_supportedby a:hover {
    opacity: 1;
}
#footer_supportedby a:first-child:hover {
    opacity: 0.8;
}
#footer_links {
    font-family: "Verdana";
    font-size: 13px;
    line-height: 8px;
}
#footer_links h4 {
    margin-bottom: 13px;
    text-shadow: 0 1px 1px white;
    font-size: 15px;
    color: #AAA;
}
#footer_links span {
    font-size: 8px;
    font-family: "Arial";
    position: relative;
    top: -1px;
}
#footer_links a {
    font-family: "OpenSansBold";
    font-size: 11px;
    color: #888;
}
#footer_links a:hover {
    text-decoration: none;
    color: #2582A9;
}
#support_note {
    width: 150px;
    height: 44px;
    border-left: solid 1px #CCC;
    padding: 3px 0 0 18px;
    font-family: "Bitstream", Georgia, serif;
    text-align: left;
    color: #999;
    text-shadow: 0 1px 1px white;
    line-height: 14px;
}
.copyright {
    border-top: solid 1px white;
    font-family: "OpenSansRegular";
    font-size: 11px;
    line-height: 13px;
    padding-top: 6px;
}
.copyright div span {
    font-family: "Verdana";
}
.copyright div:first-child {
    width: 450px;
}
.copyright div:last-child {
    width: 120px;
}
.copyright div:first-child img {
    float: left;
    margin: 10px 12px 0 2px;
}
.copyright div:last-child img {
    float: right;
    margin: 3px 3px 0 0;
}

/* LOGIN BOX */
div#fancybox-content {
    background-color: #EEE;
}
div.login_box {
    width: 550px;
    height: 250px;
    font-family: "OpenSansRegular";
}
div.login_box h3 {
    font-size: 16px;
    color: #444;
}
div.login_box div.register_side h3 {
    color: #555;
    font-family: "OpenSansRegular";
}
div.login_box div.login_side, div.login_box div.register_side {
    float: left;
    margin: 15px 0 15px 15px;
    padding: 0 25px 0 0;
    width: 295px;
    height: 167px;
    border-right: 1px solid #D1D1D1;
}
div.login_box div.register_side {
    width: 165px;
    border-right: none;
    padding: 0 0 0 25px;
    margin: 15px 15px 15px 0;
}
div.login_box .register_side .ibutton {
    font-size: 12px;
    padding: 8px 17px;
    margin: 6px 0;
    background-image: url("../../images/linkedin_signup.png");
    background-repeat: no-repeat;
    background-position: -94px -15px;
}
div.login_box .register_side > span {
    font-size: 11px;
    font-family: "Bitstream";
    color: #999;
}
div.login_box .register_side > span:last-child {
    color: black;
    font-size: 14px;
}
div.login_box .register_side .ibutton span {
    font-family: "OpenSansBold";
}
div.login_box div.login_line {
    height: 45px;
}
div.login_box input.text, div.login_box input.password {
    width: 204px;
    padding: 5px 3px;
    font-size: 14px;
}
div.login_box label {
    width: 80px;
    font-family: "OpenSansSemibold";
    font-size: 13px;
    padding-top: 9px;
    display: block;
    float: left;
    text-transform: capitalize;
}
div.login_box div.login_side label.rememberme {
    float:left;
    padding-top: 12px;
    width: 100px;
}
div.login_box div.login_side div.checker {
    margin-top: 9px;
}
div.login_box div.errorSummary {
    color: #C83A2C;
    font-family: "OpenSansRegular";
    height: 14px;
    width: 190px;
    margin-top: 45px;
    padding-left: 2px;
    overflow: hidden;
    float: left;
}
div.login_box .checker {
    float: left;
}
div.login_box input[type=submit] {
    float: right;
}
div.login_box div.errorSummary img.loader {
    float: left;
}
div.login_box div.pw_forgot {
    text-align: right;
    clear: both;
    padding: 15px 15px 0;
    height: 37px;
    background-color: #E3E3E3;
    font-family: "OpenSansSemibold";
    text-shadow: 0 1px 1px #F2F2F2;
    border-top: solid 1px #CCC;
}
div.login_box div.pw_forgot span {
    font-family: "OpenSansLight";
    font-size: 17px;
    color: #888;
    text-shadow: none;
}


/* - SITE-WIDE ELEMENTS - */

/* Indiosis box */
.ibox {
    border: solid 1px #D3D3D3;
    border-radius: 10px;
    background-color: white;
    background-image: url("../../images/header_gradient.gif");
    background-repeat: repeat-x;
    background-position: -18px 0;
    overflow: hidden;
    -moz-box-shadow: 0 2px 3px #E2E2E2;
    -webkit-box-shadow: 0 2px 3px #E2E2E2;
    box-shadow: 0 2px 3px #E2E2E2;
}
.ibox .iboxheader {
    padding: 12px 15px 12px;
    border-bottom: solid 1px #CFCFCF;
    font-family: "OpenSansSemibold";
    font-size: 18px;
    color: #777;
    text-shadow: 0 1px 1px white;
}
.ibox .iboxcontent {
    background-color: white;
    padding: 20px 15px 10px;
    -moz-box-shadow: inset 0 3px 6px 0 #E6E6E6;
    -webkit-box-shadow: inset 0 3px 6px 0 #E6E6E6;
    box-shadow: inset 0 3px 6px 0 #E6E6E6;
}

/* Indiosis buttons */
.ibutton, .ibutton_big {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: "OpenSansSemibold";
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
    padding: 4px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.ibutton:focus, .ibutton_big:focus {
    outline: none;
}
.ibutton_big {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 15px;
    font-family: "OpenSansSemibold";
}
.ibutton:hover, .ibutton_big:hover {
    text-decoration: none;
}
.ibutton:active, .ibutton_big:active {
    position:relative;
    top:1px;
}

/* Blue button skin */
.iblue {
    color: #EDF7FB;
    border: solid 1px #0076a3;
    text-shadow: 0 1px 1px #17526A;
    -moz-box-shadow:inset 0 1px 1px 0 #D8EDF7;
    -webkit-box-shadow:inset 0 1px 1px 0 #D8EDF7;
    box-shadow:inset 0 1px 1px 0 #D8EDF7;
    background: #2A92BE;
    background: -webkit-gradient(linear, left top, left bottom, from(#30A1D1), to(#207294));
    background: -moz-linear-gradient(top,  #30A1D1,  #207294);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#30A1D1', endColorstr='#207294');
}
.iblue:hover {
    background: #2582A9;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.iblue:active {
    color: #D8EDF7;
    background: -webkit-gradient(linear, left top, left bottom, from(#207294), to(#30A1D1));
    background: -moz-linear-gradient(top,  #207294,  #30A1D1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#207294', endColorstr='#30A1D1');
}

/* Gray button skin */
.igray {
    color: #777;
    border: solid 1px #AAA;
    -moz-box-shadow:inset 0 1px 1px 0 #EEE;
    -webkit-box-shadow:inset 0 1px 1px 0 #EEE;
    box-shadow:inset 0 1px 1px 0 #EEE;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB));
    background: -moz-linear-gradient(top,  #EEEEEE,  #BBBBBB);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#BBBBBB');
}
.igray:hover {
    color: #555;
    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#999999));
    background: -moz-linear-gradient(top,  #DDDDDD,  #999999);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#999999');
}
.igray:active {
    color: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#CCC));
    background: -moz-linear-gradient(top,  #888,  #CCC);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#CCCCCC');
}

/* Dark-gray button skin */
.idarkgray {
    color: #EEE;
    border: solid 1px #666;
    text-shadow: 0 1px 1px #222;
    -moz-box-shadow:inset 0 1px 1px 0 #EEE;
    -webkit-box-shadow:inset 0 1px 1px 0 #EEE;
    box-shadow: inset 0 1px 1px 0 #EEE;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#666));
    background: -moz-linear-gradient(top,  #AAA,  #666);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#666666');
}
.idarkgray:hover {
    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#555));
    background: -moz-linear-gradient(top,  #999,  #555);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#555555');
}
.idarkgray:active {
    color: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#AAA));
    background: -moz-linear-gradient(top,  #666,  #AAA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#AAAAAA');
}

/* Notification messages */
.inotification {
    border: solid 1px #30A1D1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #DDD;
    background-color: rgba(0,0,0,0.03);
    padding: 20px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-align: center;
    margin: 10px 10px;
    overflow: hidden;
}
.inotification:not(.show) {
    display: none;
}
.inotification .inot_title {
    font-family: "OpenSansSemibold";
    font-size: 22px;
    color: #2A92BE;
}
.inotification span.inot_icon {
    font-size: 15px;
    font-family: "Arial";
}
.inotification_blue {
    background-color: blue;
    background-color: rgba(37,130,169,0.6);
    color: white;
    border-color: #30A1D1;
}
.inotification_red {
    color: #c83a2c;
    background-color: #e18279;
    background-color: rgba(200,58,44,0.2);
    border-color: #c83a2c;
}


/* Loading icon */
img.loader {
    display: none;
}

/* for IE9 gradient support */
.gradient {
    filter: none;
}